<ion-view view-title="Grocery">
        <ion-content has-header="true" overflow-scrolling="true" scrollbar-y='false'>
<!--         <ion-content has-header="true" style="background-image:url('img/white-wood.jpg');"> -->

  <center><b><span style="font-size:1.2em; font-weight: 600; ">Popular </span><span style="font-size:1.2em; color:purple; font-weight: 600; ">Categories</span></b></center>
  <ion-scroll direction="x" overflow-scroll="false" style="height:170px; white-space: nowrap;  width: 100vw;">
	<center>
	<span class="inline" ng-click="selectSubCategory('Baby Products')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Baby Products.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Baby Products</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Cereals and Spreads')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Cereals and Spreads.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Cereal, Spread</div>
       &nbsp;
       </span>

       <span class="inline" ng-click="selectSubCategory('Beverages and Drinks')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Beverages and Drinks.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Beverages</div>
       &nbsp;
       </span>

       <span class="inline" ng-click="selectSubCategory('Biscuits and Snacks')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Biscuits and Snacks.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Biscuits, Snack</div>
       &nbsp;
       </span>

       <span class="inline" ng-click="selectSubCategory('Staples')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Chocolates and Candy.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Staples</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Pickles and Sauces')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Pickles and Sauces.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Pickles, Sauces</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Home Care')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Home Care.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Home Care</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Personal Care')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Personal Care.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Personal Care</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Chocolates and Candy')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Chocolates and Candy.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Chocolate, Candy</div>
       &nbsp;
       </span>
       <span class="inline" ng-click="selectSubCategory('Cleaning and Hygiene')" style="overflow:hidden;font-family: 'Open Sans', sans-serif; font-weight: 200; width:100px; margin:1px;">
	<img ng-src="img/products/grocery/Cleaning and Hygiene.jpg" style="height:115px; width:100px;" class="block">
	<div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; ">Cleaning, Hygiene</div>
       &nbsp;
       </span>

	</center>
    </ion-scroll>
  <hr>
  <center><b><span style="font-size:1.2em;">Trending </span><span style="font-size:1.2em; color:purple;">Products</span> </b></center>
  <ion-scroll direction="x" scrollbar-y="false" style="height:290px; white-space: nowrap;" overflow-scroll="true">
	<span class="inline" style=" border-right: thin dashed grey; padding:1px; width:40%;" ng-repeat="product in trendingProducts">
	
	<img ng-src="http://shopkare.com/{{product.images[0]}}" ng-click="viewTrendingProduct($index)" style="height:120px;  width:150px; " class="block">
	<div class="item-input" style="margin:0;">
		      <select  ng-model='index' ng-init="index=product.Quantity[0].Quantities[0]" ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="background: -webkit-linear-gradient(white, white); width:90%">
		    </select>
		&nbsp;
		      <font style="font-size:1.0em; color:purple;">
		      Rs {{index[1]}}
		      </font>
	 </div>
	 <div class="row">
	 <div class="col text-left">
	      <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;" ng-click="DecreaseTrendingQuantity($index, index)"></a>
	      <form ng-submit="AddToTrendingCart($index, index)">
	      <input type="number" ng-model="product.quantity" ng-init='product.quantity=0' style="width: 34%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value=1>
	      </form>
	      <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;" ng-click="IncreaseTrendingQuantity($index, index)"></a>
	     </div>
	     </div>
	 <div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; " ng-click="viewTrendingProduct($index)">{{product.product_name}}</div>
       &nbsp;&nbsp;
       </span>
    </ion-scroll>
    <hr>
    
  <center><b><span style="font-size:1.2em;">New </span><span style="font-size:1.2em; color:purple;">Releases</span> </b></center>
  <ion-scroll direction="x" style="height:290px; white-space: nowrap;"  overflow-scroll="false">
	<span class="inline" style=" border-right: thin dashed grey; padding:1px; width:40%;" ng-repeat="product in newProducts">
	
	<img ng-src="http://shopkare.com/{{product.images[0]}}" ng-click="viewNewReleaseProduct($index)" style="height:120px;  width:150px; " class="block">
	<div class="item-input" style="margin:0;">
		      <select  ng-model='index' ng-init="index=product.Quantity[0].Quantities[0]" ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="background: -webkit-linear-gradient(white, white); width:90%">
		    </select>
		     &nbsp;
		      <font style="font-size:1.0em; color:purple;">
		      Rs {{index[1]}}
		      </font>
	 </div>
	 <div class="row">
	 <div class="col text-left">
	      <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;" ng-click="DecreaseNewQuantity($index, index)"></a>
	      <form ng-submit="AddToNewReleasesCart($index, index)">
	      <input type="number" ng-model="product.quantity" ng-init='product.quantity=0' style="width: 34%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value=1>
	      </form>
	      <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;" ng-click="IncreaseNewQuantity($index, index)"></a>
	     </div>
	     </div>
	 <div style="overflow:hidden; white-space: normal; height:80px; font-family: 'Open Sans', sans-serif; width:100px; font-weight: 100; " ng-click="viewNewReleaseProduct($index)">{{product.product_name}}</div>
       &nbsp;&nbsp;
       </span>
    </ion-scroll>
  </ion-content>
</ion-view>