<ion-view view-title="Home">
   <ion-pane has-header="true" style="background-color: white;"><!--
       --><ion-tabs class="tabs-top tabs-dark">
	
	<ion-tab title="Grocery" ui-sref="app.home.grocery">
          <ion-nav-view name="Grocery"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Stationary" ui-sref="app.account.mytransactions">
          <ion-nav-view name="Stationary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Medical" ui-sref="app.home.medical">
          <ion-nav-view name="Medical"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Courier" ui-sref="app.account.mytransactions">
          <ion-nav-view name="Courier"></ion-nav-view>
        </ion-tab>
        <ion-tab title="More" ui-sref="app.account.mytransactions">
          <ion-nav-view name="My-Transactions"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
      </ion-pane>
      
</ion-view>
<!--<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval="3000">
		    <ion-slide ng-repeat="deal in deals">
 		      <img ng-src="{{deal.imageurl}}" style="height:275px; width:100%;"> 
		    </ion-slide>
	</ion-slide-box>
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/pulses.jpg"  style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Pulses Grains Flours')" >
	    <img ng-src="img/bakery.png"  style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Biscuits and Bakery')">
	    </div>
	  </div>
       
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/dairy.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Oil Ghee Dairy')">
	    <img ng-src="img/fruits.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Fruits and Vegetables')">
	    </div>
	  </div>
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/household.png" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Household Appliances')">
	    <img ng-src="img/HYGIENE.jpg"  style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Cleaning and Hygiene')">
	    </div>
	  </div>
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/Personal.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Personal Care')">
	    <img ng-src="img/baby.jpg"  style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Baby')">
	    </div>
	  </div>
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/spices.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Masala and Spices')">
	    <img ng-src="img/spread.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Spread')">
	    </div>
	  </div>
       <div class="row" style="padding: 0px 0px 0px 0px;">
	    <div class="col">
	    <img ng-src="img/beverages.jpg" style="width:49%; height:165px; border: 1px solid black;" ng-click="category('Snacks Beverages')">
	    </div>
	  </div>-->