<ion-view view-title="{{product.product_name}}">
  <ion-content has-header="true" style=""> 
		<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval="2000">
		    <ion-slide ng-repeat="image in product.images">
 		      <img ng-src="http://shopkare.com{{image}}" style="height:275px; width:100%;"> 
		    </ion-slide>
		</ion-slide-box>
    <div style="margin-left: 8px; color:seagreen; margin-bottom:10px; text-align:left; font-size:1.4em;">
    {{product.product_name}}
    </div>
<div class="card">
<div class="item item-divider" style="color:purple; font-size:1.2em;">
    Quantities
  </div>
  <div class="item item-text-wrap">
    <a class="button dark " style="" ng-click='viewPrice($index)' ng-repeat="Quant in product.Quantity[0].Quantities">{{Quant[0]}}</a>
  </div>
</div>
    <div class="row">
		    <div class="" style="">
		      <font style="font-size:1.5em; color:purple;">
		      Qty
		      </font>
		     </div>&nbsp;
		     <div class="col" style="display:inline;">
		     <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;" ng-click="DecreaseQuantity()"></a>
		      <input type="number" ng-model='cartProduct.Quantity' style="width: 30%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value={{cartProduct.Quantity}}>
		     <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;" ng-click="IncreaseQuantity()"></a>

		     </div>
		    <div class="text-right" style="margin-right:10px;">
		      <button class="button button-dark button-medium button-outline" style="border-radius: 29px;"><b>Rs {{price}}</b>
		      </button>
		    </div>
		    <div class="text-right" style="margin-right:10px;">
		      <button class="button button-dark button-medium " ng-disabled='!cartProduct.Quantity' style="border-radius: 29px;" ng-click="addToCart()"><b>Add</b>
		      </button>
		    </div>
    </div>
	<hr>
	<div class="card">
<div class="item item-divider" style="color:purple; font-size:1.4em;">
    Description
  </div>
  <div class="item item-text-wrap">
    {{product.description}}
  </div>
</div>
      </ion-content>     
</ion-view>
