<ion-view view-title="{{subcategory}}">
   <ion-content has-header="true" style="background-image:url('img/white-wood.jpg');">  
       
    <span class="item item-thumbnail-left" ng-repeat="product in products">
	    <img ng-src="http://shopkare.com{{product.images[0]}}" ng-click="viewProduct($index)">
	      <font font-size=1.5em color="seagreen" style="white-space:normal;" ng-click="viewProduct($index)">{{product.product_name}}</font><br>
		<div class="row" style="margin:0;">
		    <div class="col" style="">
		    Qty
		    <select  ng-model='index' ng-init="index=product.Quantity[0].Quantities[0]"  ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="width:90%">
		    </select>
		     </div>
		    <div class="col text-right" style="">
		      <font style="font-size:1.0em; color:purple;">
		      Rs {{index[1]}}
		      </font>
		    </div>
		</div>	
	 <div class="row">
	    <div class="col text-left">
	      <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;" ng-click="RemoveQuantity($index)"></a>
	      <input type="number" ng-model="product.quantity" style="width: 30%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value=1>
	      <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;" ng-click="AddQuantity($index)"></a>
	     </div>
	  <div class="text-right ">
	  <button class="button button-dark button-small button-outline" ng-click='AddToCart($index, index)' style="border-radius: 20px; margin:0; padding:3px;" ng-disabled="!index || !product.quantity">Add to cart</button>
	  </div>
	 </div>
	      
	    </span>
   </ion-content>
      
</ion-view>
