<ion-view view-title="{{subcategory}}">
   <ion-content has-header="true" style="background-image:url('img/white-wood.jpg');">  
       <ion-refresher pulling-text="Pull down to refresh...." on-refresh="RefreshProducts()">
  </ion-refresher>    
    <span class="item item-thumbnail-left" ng-repeat="product in products" ng-click="viewProduct($index)">
	    <img ng-src="http://0.0.0.0:5000{{product.images[0]}}">
	      <font font-size=1.5em color="seagreen" style="white-space:normal;">{{product.product_name}}</font><br>
		<div class="row" style="margin:0;">
		    <div class="col" style="">
		    Quantity
		    <select  ng-change="updatePrice($index)" ng-model='$index' ng-options="Quant.Quantity[0] for Quant in product.Quantity[0].Quantities">
		    </select>
		     </div>
		    <div class="col text-right" style="">
		      <font style="font-size:1.0em; color:purple;">
		      Rs {{$index.Quantity[1]}}
		      </font>
		    </div>
		</div>	
	 <div class="row">
	    <div class="col text-left">
	      <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;"></a>
	      <input type="number" style="width: 30%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value=1>
	      <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;"></a>
	     </div>
	  <div class="col text-right ">
	  <button class="button button-dark button-small button-outline" ng-click='AddToCart($index)' style="border-radius: 20px; margin:0; padding:3px;">Add to Cart</button>
	  </div>
	 </div>
	      
	    </span>
   </ion-content>
      
</ion-view>
