<ion-view view-title="Coke">
  <ion-content has-header="true" style=""> 
		<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval="2000">
		    <ion-slide >
 		      <img ng-src="img/products/Red.jpg" style="height:275px; width:100%;"> 
		    </ion-slide>
		    <ion-slide >
 		      <img ng-src="img/products/coke.jpg" style="height:275px; width:100%;"> 
		    </ion-slide>
		    
		</ion-slide-box>
    <div style="margin-left: 8px; color:seagreen; margin-bottom:10px; text-align:left; font-size:1.9em;">
    Red Bull
    </div>
<div class="card">
<div class="item item-divider" style="color:purple; font-size:1.4em;">
    Unit
  </div>
  <div class="item item-text-wrap">
    <button class="button dark " style="">1 Liter</button>
    <button class="button dark" style="">500 ML</button>
    <button class="button dark" style="">250 Ml</button>
  </div>
</div>
    <div class="row">
		    <div class="col" style="">
		      <font style="font-size:1.5em; color:purple;">
		      Quantity
		      </font>
		     </div>
		     <div class="col" style="display:inline;">
		     <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;"></a>
		      <input type="number" style="width: 30%;  border: 2px solid #73AD21;  float: left; margin-left:4px;">
		     <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;"></a>

		     </div>
		    <div class="col text-right" style="margin-right:10px;">
		      <button class="button button-dark button-medium button-outline" style="border-radius: 29px;"><b>Rs 110</b>
		      </button>
		    </div>
    </div>
	<hr>
	<div class="card">
<div class="item item-divider" style="color:purple; font-size:1.4em;">
    Description
  </div>
  <div class="item item-text-wrap">
    Coke is a soft drink. Manufactured by Cocacola Company. Serve it anywhere, anytime.
  </div>
</div>
      </ion-content>     
</ion-view>
