<ion-view view-title="Search">
   <ion-content has-header="true">  
   <span class="item item-icon-right" href="#">
   <form novalidate ng-submit="SearchProduct(searchquery)" class="simple-form">
    <input type="text" ng-model='searchquery' placeholder="Search Products">
    <i class="icon ion-search" ng-click="SearchProduct(searchquery)"></i>
    </form>
  </span>
  <span style="color:purple; font-size:1.0em;" ng-if="noresults">
    Sorry No Results found, Try Something else
  </span>

   <span class="item item-thumbnail-left" ng-repeat="product in products">
	    <img ng-src="http://shopkare.com{{product.images[0]}}" ng-click="viewProduct($index)">
	      <font font-size=1.5em color="seagreen" style="white-space:normal;" ng-click="viewProduct($index)">{{product.product_name}}</font><br>
		<div class="row" style="margin:0;">
		    <div class="col" style="">
		    Qty
		    <select  ng-model='index' ng-init="index=product.Quantity[0].Quantities[0]" ng-options="Quant[0] for Quant in product.Quantity[0].Quantities" style="background: -webkit-linear-gradient(white, white); width:90%">
		    </select>
		     </div>
		    <div class="col text-right" style="">
		      <font style="font-size:1.0em; color:purple;">
		      Rs {{index[1]}}
		      </font>
		    </div>
		</div>	
	 <div class="row">
	    <div class="col text-left">
	      <a class=" button button-dark button-outline button-small icon ion-minus" style="border: 2px solid #73AD21; float: left;" ng-click="RemoveQuantity($index, index)"></a>
	      <form ng-submit="AddToTrendingCart($index, index)">
	      <input type="number" ng-model="product.quantity" style="width: 30%;  border: 2px solid #73AD21;  float: left; margin-left:4px;" value=1>
	      </form>
	      <a class=" button button-dark button-outline button-small icon ion-plus" style="margin-left:4px; border: 2px solid #73AD21; float: left;" ng-click="AddQuantity($index, index)"></a>
	     </div>
	  
	 </div>
	      
	    </span>
   </ion-content>
      
</ion-view>
